<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.graduation.mapper.OrderMapper">
    <resultMap id="orders" type="com.jd.graduation.VO.OrderVO">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
        <result column="freight" property="freight"/>
        <result column="pay" property="pay"/>
        <result column="deliver_no" property="deliverNo"/>
        <result column="status" property="status"/>
        <collection property="details" ofType="com.jd.graduation.DO.OrderDetailDO" column="id">
            <id column="odid" property="id"/><!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
            <result column="bname" property="bname"/><!-- property对应JavaBean中的属性名 -->
            <result column="bid" property="bid"/>
            <result column="amount" property="amount"/>
            <result column="if_comment" property="ifComment"/>
        </collection>
    </resultMap>

    <select id="getList" resultMap="orders" parameterType="java.lang.Integer">
        select o.id, o.price, o.freight, o.pay, o.deliver_no, o.`status`,
        od.id as odid, od.bid, od.bname, od.amount, od.if_comment
        from `order` as o left join order_detail as od on o.id=od.oid
        where o.uid = #{uid} order by o.create_time desc
    </select>
</mapper>